<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./src/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./src/css/style.css" />
    {{#block "custom-head"}}{{!-- Custom <head> content goes here. --}}{{/block}}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Demo Voting</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        <div class="main-content">
            {{#block "main-content"}}{{!-- Main content goes here. --}}{{/block}}
        </div>
        <footer>
            <hr/>
            <p>Created by Le Cao Nguyen</p>
        </footer>
    </main>
    
    <script type="text/javascript" src="./src/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./src/js/popper.min.js"></script>
    <script type="text/javascript" src="./src/js/bootstrap.min.js"></script>
    {{#block "custom-scripts"}}{{!-- Custom scripts goes here. --}}{{/block}}
</body>
</html>